@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-primary: #1f2937;
  --bg-secondary: #111827;
  --text-primary: #22d3ee;
  --text-primary-600: #0891b2;
  --success: #22c55e;
  --error: #ef4444;
  --info: #3b82f6;
}

@theme {
  --color-background: var(--bg-primary);
  --color-background-secondary: var(--bg-secondary);
  --color-foreground: var(--foreground);
  --color-primary: var(--text-primary);
  --color-primary-hover: var(--text-primary-600);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-info: var(--info);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .disabled {
    @apply cursor-not-allowed pointer-events-none opacity-40;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#exchange-input *:focus {
  outline: none;
}